li {
    list-style: none;
}

li img {
    transition: 0.5s;
}

li img:hover {
    padding: 8px;
    border: 10px solid #eb56008c;
    border-radius: 100%;

}
#trainers {
    display: flex;
}
.trainer1 {
    width: 140px;
}
.trainer2 {
    width: 140px;   
     
    
}

@media (max-width:1370px){
    .trainer2{
        width: 100px;
    }
    
}
@media (max-width:1215px){
    .trainer2 {
        position: absolute;
        right:80%;
        width: 50px;
        
    }
    .trainer1 {
        
        width: 50px;

    }
}